.blog{
    font-family: 'Roboto', sans-serif;
    .section-heading{
        margin-left: 4px;
    }
    .slick-slide {
        padding: 10px 0 10px 10px;
        box-sizing: border-box;
    }
    .slick-arrow{
        top: -20px;
    }
    .slick-prev{
        left: 100%;
        transform: translate(-300%,-50%);
    }
    .slick-next{
        right: 10px;
    }
    .slick-prev::before,.slick-next::before{
        font-size:28px;
        color: var(--color-bf4800);
    }
}

@media (max-width: 425px) {
  .blog{
    .section-heading{
        font-size: 18px;
    }
    .slick-slide {
        padding: 0 4px;
        box-sizing: border-box;
    }
    .slick-prev,.slick-next{
        display: none!important;
    }
  }
}