.card-blog{
    overflow: hidden;
    position: relative;
    transition: 0.25s ease-in-out;
    &:hover{
        transform: translateY(-1px);
    }
    .card-main{
        .card-img{
            height: 180px;
            cursor: pointer;
        }
        .card-body{
            padding: 15px 8px 5px;
            .card-title{
                cursor: pointer;
                font-weight: 500;
                font-size: 0.875rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; // Hiển thị tối đa 2 dòng
                overflow: hidden;
                text-overflow: ellipsis;
                transition: 0.25s ease-in-out;
                &:hover{
                    color: var(--color-4267b2);
                }
            }
        }
    }
}

@media (max-width: 768px) {
  .card-blog{
    .card-main{
        .card-img{
            height: 150px;
        }
        .card-body{
            padding: 15px 8px 0px 8px;
        }
    }
  }
}
@media (max-width: 425px) {
  .card-blog{
    .card-main{
        .card-img{
            height: 150px;
        }
        .card-body{
            padding: 15px 8px 0px 8px;
        }
    }
  }
}

@media (max-width: 820px) {
  .card-blog{
    .card-main{
        .card-img{
            height: 180px;
            cursor: pointer;
        }
    }
  }
}