.card-product{
        border-radius: 0.25rem;
        overflow: hidden;
        background: var(--color-fff);
        position: relative;
        transition: 0.25s ease-in-out;
        // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        &:hover{
            transform: translateY(-2px);
           box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        }
        .card-img{
            height: 11.25rem;
            cursor: pointer;
        }
        .card-body{   
            padding: 0.625rem;
            .card-brand{
                font-weight: 500;
                font-size: 0.875rem;
                color: var(--color-bf4800);
            }
            .card-title{
                cursor: pointer;
                font-size: 0.875rem;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; // Hiển thị tối đa 2 dòng
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .card-text{
                color: var( --color-1c1c1b);
            }
            .card-price{
                font-weight: 400;
                font-size: 1rem;
                color: var(--color-bf4800);
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1; // Hiển thị tối đa 2 dòng
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0.5rem 0;
                .original-price{
                    font-size: 0.75rem;
                }
            }
            .card-start{
                display: flex;
                align-items: center;
                justify-content: left;
                height: 1.5rem;
                .sold{
                    font-size: 0.75rem;
                    margin-left: 0.4rem;
                }
            }
        }
        .wish{
            position: absolute;
            top: 0;
            right: 10px;
            cursor: pointer;
            &:hover{
                color: var(--color-bf4800);
            }
        }
        .coupon{
            position: absolute;
            top: 0.3rem;
            left: 0.3rem;
            background-color: var(--color-febd69);
            border-radius: 50%;
            width: 1.875rem;
            height: 1.875rem;
            color: var(--color-fff);
            font-size: 0.75rem;
            display: block;
            padding: 0.325rem 0.25rem;
        }
}

@media (max-width: 425px) {
  .card-product{
    .card-img{
        height: 160px;
        cursor: pointer;
    }
    .card-body{
        padding: 10px;
            .card-price{
                font-size: 14px;
                margin: 4px 0;
                .original-price{
                    font-size: 10px;
                }
            }
            .card-start{
                height: 20px;
                .sold{
                    font-size: 10px;
                }
            }
    }
  }
}