.contact{
    background: var(--color-eaeaea);
    .maps{
        width: 100%;
        height: 550px;
    }
    .contact-form{
        display: flex;
        gap: 30px;
        padding: 30px;
        justify-content: space-between;
        background: var(--color-fff);
        margin-top: 2rem;
        border-radius: 4px;
        box-shadow: 0px 0px 5px rgba(#000,0.1);
        &-left{
            width: 50%;
            form{
           input{
                margin-bottom: 15px;
                border: transparent;
                background: var(--color-eaeaea);
           }
           button{
            padding:4px 15px;
            border-radius: 25px;
            background-color: var(--color-3b4149);
            color: var(--color-fff);
           }
        }
        }
        &-right{
            width: 50%;
            .item{
                display: flex;
                align-items: center;
                padding-bottom: 10px;
                color: var(--color-777777);
                a,p{
                    color: var(--color-777777);
                }
            }
        }
        
    }
}