.login{
    form{
        margin: 0 auto;
        padding: 25px 15px;
        border-radius: 5px;
        box-shadow: 1px 1px 8px 4px rgba(grey, 0.15);
        input{
            &:focus{
                box-shadow: none;
            }
        }
        h4{
            text-align: center;
        }
        button{
            width: 100%;
            padding: 5px;
            border-radius: 4px;
            color: var(--color-fff);
            background: var(--color-232f3e);
            position: relative;
             .loading-icon{
                    color: #33ccff;
                    font-size: 26px;
                    position: absolute;
                    animation: loading 1s linear infinite;
                }
                &:disabled{
                    cursor: no-drop;
                    background-color: var(--color-777777)!important;
                }
        }
        .forgot{
            font-size: 14px;
            padding-bottom: 5px;
        }
    }
}