.moving-brand{
    .item{
        height: 140px;
        margin: 0 8px;
        width:150px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        cursor: pointer;
    }
     .marquee-container{
        box-shadow: 0px 0px 5px  rgba(#000, 0.1);
     }
}

@media (max-width: 425px) {
  .moving-brand{
    .item{
        height: 80px;
        width: 80px;
    }
  }
}
@media (max-width: 820px) and (min-width: 426px) {
  .moving-brand{
    .item{
        height: 120px;
        width: 120px;
    }
  }
}