.our-store{
    background-color: var( --color-ededed);
    &-main{
        .left{
            width: 18%;
            .filter-card {
                padding: 15px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                .category{
                    overflow: hidden;
                    .active{
                        color:var(--color-febd69);
                    }
                }
                 .form-floating{
                    .form-control{
                        box-shadow: none!important;
                    }
                }
                .see-more{
                    color: var(--color-777777);
                    font-size: 12px;
                    display: block;
                    text-align: center;
                    cursor: pointer;
                }
                .form-check-label, ul{
                    list-style-type: none;
                    font-size: 13px;
                    line-height: 30px;
                    color: var(--color-777777);
                    cursor: pointer;
                }
                .filter-title {
                    line-height: 20px;
                    margin-bottom: 15px;
                    display: flex;
                    align-items: center;
                    span{
                        font-size: 16px;
                        font-weight: 600;
                        padding-left: 5px;
                    }
                }
                .sub-title {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--color-1c1c1b);
                    margin-bottom: 15px;
                    margin-top: 20px;
                }
                
                    
                .form-check-input:focus {
                    box-shadow: none;
                    border-color: rgba(0, 0, 0, 0.25);
                }
                .form-check-input:checked {
                    background-color: var(--color-febd69);
                    border-color: var(--color-febd69);
                }
                .random-products{ 
                    h5 {
                        font-size: 14px;
                        margin-bottom: 8px;
                    }
                    &:first-child{
                        border-bottom: 1px solid var(--color-ededed);
                    }
                }
                .colors{
                    overflow: hidden;
                    height: 77px!important;
                    padding-top: 10px;
                    .item{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        margin: 0 2px;
                        border: 2px solid transparent;
                        cursor: pointer;
                    }
                    .active{
                        border: 2px solid var(--color-bf4800);
                    }
                }
                .size{
                    overflow: hidden;
                }
            }
        }
        .right{
            width: 82%;
            .sort-by{
                display: flex;
                align-items: center;
                background-color: rgba(0,0,0,.03);
                padding: 10px;
                p{
                    padding: 0 10px;
                }
                &-item{
                    width: 200px;
                    border: none;
                    cursor: pointer;
                }
            }
            .products-list{
                &-item{
                    .card-product{
                        width: 19.2%;
                    }
                }
            }
        }
    }
    .products-list{
        &-item{
            display: flex;  
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 820px) and (min-width:426px) {
    .our-store{
        &-main{
            .left{
                width: 25%;
                label{
                    font-size: 12px!important;
                }
                .filter-card {
                    padding: 0px;
                    .filter-title{
                        svg{
                            width: 15px;
                        }
                        span{
                            font-size: 14px!important;
                        }
                    }
                    .category{
                        li{
                            font-size: 12px;
                        }
                    }
                    
                }
                .colors{
                    padding-top: 5px!important;
                    .item{
                        width: 23px!important;
                        height: 23px!important;
                    }
                }
            }
            .right{
                width: 75%;
                .sort-by{
                    padding: 4px;
                    &-item{
                        width: 200px;
                        border: none;
                        cursor: pointer;
                    }
                }
                .products-list{
                &-item{
                    .card-product{
                        width: 32.2%!important;
                    }
                }
            }
            }
        }
    }
}

// @media (max-width: 425px) {
    
// }