.popular{
    &-container{
        display: flex;
        justify-content: space-between;
    }
    .section-heading{
        margin-right: 4px;
    }
    &-tabs{   
        width: 19%;
        border-radius: 4px;
        box-shadow: 0px 0px 5px rgba(#000, 0.2);
        background-color: var(--color-fff);
        margin: 10px 4px;
        .item{
            padding: 8px;
            cursor: pointer;
            button{
                background-color: transparent;
                padding-left: 10px;
            }
            img{
            width: 40px;
            height: 40px;
            }
            &:hover{
                button{
                    color: var(--color-febd69);
                }
            }
        }
        .active{
            button{
                color: var(--color-febd69);
            }
        }
        
    }
    &-product{
        width: 80%;
        .slick-slide {
            padding: 10px 0 10px 10px;
            box-sizing: border-box;
        }
        .slick-arrow{
            top: -20px;
        }
        .slick-prev{
            left: 94%;
        }
        .slick-next{
            right: 10px;
        }
        .slick-prev::before,.slick-next::before{
            font-size:28px;
            color: var(--color-bf4800);
        }
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // flex-wrap: wrap;
        // gap: 15px;
    }

}