.profile{
    background-color: var(--color-ededed);
    &-item{
        // display: flex;
        // gap: 30px;
        .left{
            // width: 15%;
            padding: 20px 10px;
            .menu-links{
                .sub-menu{
                    margin-left: 25px;
                }
                .nav-link{
                    padding: 5px 0;
                    width: 100%;
                    text-align: left;
                    font-size: 14px;
                    font-weight: 500;
                    &:hover{
                       span{
                         color: var(--color-febd69);
                       }
                    }
                    svg{
                        color: var(--color-4267b2);
                    }
                    
                }
                .active{
                        span{
                            color: var(--color-febd69);
                        }
                    }
            }   
        }
        .right{
        }
    }
}

@media (max-width: 820px) {
    .left{
        padding: 10px 20px 30px 20px!important;
        .menu-links{
            position: relative;
            display: flex;
            .nav-link{
                padding: 0 20px!important;
                display: flex;
            }
            .sub-menu{
                position: absolute;
                top: 0;
                left: 10px;
                background-color: var(--color-fff);
                box-shadow: 0px 0px 5px rgba(#000, 0.1);
                width: 160px;
                transform: translate(10%,50%);
                a{
                     padding: 0px 5px!important;
                }
            }
        }
    }
}