.purchase{
    padding: 25px 30px;
    border-radius: 2px;
    background-color: var(--color-fff);
    box-shadow: 0px 0px 3px rgba(#000, 0.1); 

    .product{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--color-eaeaea);
        padding-bottom: 10px;
        margin-bottom: 5px;
        position: relative;
        cursor: pointer;
        .content{
            width: calc(100% - 280px);
        }
        .image{
            width: 80px;
            height: 80px;
            border: 1px solid var(--color-eaeaea);
            margin-right: 20px;
        }
        .price{
            width: 180px;
            color: var(--color-bf4800);
            font-weight: 400;
            font-size: 14px;
            text-align: right;
            margin-bottom: 0;
        }
    }
    &-header{
        .tabs-container {
            .nav-link {
                border: none;
                color: var(--color-777777);
                padding: 10px 70.4px;
            }
             .active {
                color: var(--color-febd69);
                border-bottom: 2px solid var(--color-232f3e);
            }
        }
        .tab-content{
            .no-product{
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 600px;
            }
            .all-booking{
                border-bottom: 2px ridge var(--color-eaeaea) ;
                margin-bottom: 20px;
                .view-more{
                    padding-bottom: 5px;
                    border-bottom: 1px solid var(--color-eaeaea);
                    button{
                        padding: 4px 15px;
                        transition: .25s linear;
                        border-radius: 5px;
                        margin: 0 auto;
                        display:block;
                        background-color: var(--color-fff);
                        color: var(--color-777777);
                        font-size: 14px;
                    }  
                }
            }
            
            .isCancel{
                width:  100%;
                height: 1px;
                position: absolute;
                background-color:var(--color-777777);
                top: 45%;
                transform: translateY(-100%);
            }
            .booking-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom:1px solid var(--color-eaeaea) ;
                padding: 10px 0;
                margin-bottom: 10px;
                .view{
                    border: 1px solid var(--color-eaeaea);
                    font-size: 12px;
                    padding: 3px 10px;
                    cursor: pointer;
                    transition: 0.25s linear;
                    display: flex;
                    align-items: center;
                    span{
                        padding-left: 2px;
                    }
                    &:hover{
                        background-color: var(--color-eaeaea);
                    }
                }
                .status{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    &-code{
                        color: var(--color-bf4800);
                        padding-left: 10px;
                        border-left: 1px solid var(--color-eaeaea) ;
                    }
                    &-name{
                        padding-right: 10px;
                        color: var(--color-777777);
                        font-size: 14px;
                    }
                } 
            }
            .total-booking{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px 0;
                .right{
                    display: flex;
                    align-items: center;
                    justify-content: right;
                    .cancel{
                        padding: 4px 25px;
                        border-radius: 5px;
                        margin-right: 15px;
                        background-color: var(--color-777777);
                        color: var(--color-fff);
                        &:hover{
                            background-color: var(--color-bf4800);
                        }
                    }
                    .cancel-by{
                        color: var(--color-bf4800);
                        font-size: 14px;
                        margin-right: 15px;
                    }
                }
                .left{
                    color: var(--color-777777);
                    font-size: 14px;
                    padding-left: 5px;
                }
                span{
                    padding:0 5px;
                }
                .price{
                    color: var(--color-bf4800);
                    font-weight: 400;
                    font-size: 20px;
                }
            }     
        }
    }
    .progress-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-eaeaea);
        padding-bottom: 15px;
        span{
            text-transform: uppercase;
            color: var(--color-777777);
            font-size: 14px;
        }
        .back{
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        &-right{
            color: #000!important;
            .status{
                color: var(--color-bf4800);
            }
        }
    }
    .progress-body{
        .box-product{
            border-top: 1px solid var(--color-eaeaea);
            padding-top: 10px;
        }
        .total{
            .total-order{
                padding: 10px 0;
                border-bottom: 1px solid var(--color-eaeaea);
                .text{
                    text-align: right;
                    width: 80%;
                    padding-right: 20px;
                    color: var(--color-777777);
                    font-size: 14px;
                    border-right: 1px solid var(--color-eaeaea);
                }
                .total-price{
                    color: var(--color-bf4800);
                    font-size: 18px;
                }
            }
        }
        .view{
            border: 1px solid var(--color-eaeaea);
            font-size: 12px;
            padding: 3px 10px;
            cursor: pointer;
            transition: 0.25s linear;
            margin-bottom: 10px;
            span{
                padding-left: 2px;
            }
            &:hover{
                background-color: var(--color-eaeaea);
            }
        }
    }
}