.reset-password{
    background-color: var(--color-eaeaea);
    .main{
        form{
            padding: 20px;
            background-color: var(--color-fff);
            border-radius: 10px;
            margin: 0 auto;
            width: 500px;
            h4,p{
                text-align: center;
            }
            p{
                width: 100%;
            }
            .btn-submit{
                background-color: var(--color-232f3e);
                color: var(--color-fff);
                padding: 5px 30px;
                border-radius: 25px;
                display: block;
                margin: 0px auto;
                margin-top: 1rem;
                position: relative;
                .loading-icon{
                    color: #33ccff;
                    font-size: 26px;
                    position: absolute;
                    animation: loading 1s linear infinite;
                }
                &:disabled{
                    cursor: no-drop;
                    background-color: var(--color-777777)!important;
                }
            }
        }
    }
}

@media (max-width: 820px) and (min-width:425px) {
    .reset-password{
        .main{
            padding: 120px 0!important;
        }
    }
}