.view-product{
    .product{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--color-eaeaea);
        padding-bottom: 10px;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
        .content{
            width: calc(100% - 200px);
            .title{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .image{
            width: 80px;
            height: 80px;
            border: 1px solid var(--color-eaeaea);
            margin-right: 20px;
        }
        .price{
            color: var(--color-bf4800);
            font-weight: 400;
            font-size: 14px;
            text-align: right;
            margin-bottom: 0;
        }
    }
}